Write a code to reverse a string

In [3]:
#Write a code to reverse a string

s = input("Enter string to reverse ")
k=s[::-1]
print(k)

Enter string to reverse pwskills
sllikswp

2. Write a code to count the number of vowels in a string.

In [5]:
#2. Write a code to count the number of vowels in a string.
str = input("Enter string")
count = 0
for i in str:
  if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U'):
            count=count+1
print("Number of vowels are: ")
print(count)

Enter stringhello
Number of vowels are:
2

3. Write a code to check if a given string is a palindrome or not.

In [9]:
#3. Write a code to check if a given string is a palindrome or not.
str=input("Enter a string:")
x = str

w = ""
for i in x:
    w = i + w

if (x == w):
    print("Yes")
else:
    print("No")

Enter a string:hello
No

 4. Write a code to check if two given strings are anagrams of each other

In [12]:
# 4. Write a code to check if two given strings are anagrams of each other
def are_anagrams(str1, str2):
    str1 = sorted(str1)
    str2 = sorted(str2)
    return str1 == str2

string1 = input("Enter 1st string:")
string2 = input("Enter 2nd string:")

if are_anagrams(string1, string2):
    print(f"{string1} and {string2} are anagrams.")
else:
    print(f"{string1} and {string2} are not anagrams.")

Enter 1st string:heart
Enter 2nd string:earth
heart and earth are anagrams.

6.Write a code to perform basic string compression using the counts of repeated character

In [16]:
#6.Write a code to perform basic string compression using the counts of repeated character

TypeError: 'str' object is not callable

7.Write a code to determine if a string has all unique characters

In [20]:
#7.Write a code to determine if a string has all unique characters

s = input("Enter string for evaluation:  ")
k=1
for i in range(len(s)):
        if s[i] in s[i+1:]:
            k=-1
if k == -1:
  print("NOT UNIQUE")
else:
  print("UNIQUE")

Enter string for evaluation:  qwerty
UNIQUE

8. Write a code to convert a given string to uppercase or lowercase.

In [23]:
#8. Write a code to convert a given string to uppercase or lowercase.
s = input("Enter string for evaluation:  ")
su = s.upper()
sl = s.lower()
print(f"Upper case:{su}")
print(f"Lower case:{sl}")

Enter string for evaluation:  ewilutYYUU
Upper case:EWILUTYYUU
Lower case:ewilutyyuu

9. Write a code to count the number of words in a string.

In [24]:
#9. Write a code to count the number of words in a string.
s = input("Enter string for evaluation:  ")
print(len(s))

Enter string for evaluation:  string
6

10.Write a code to concatenate two strings without using the + operator

In [26]:
#10.Write a code to concatenate two strings without using the + operator
str1 = input("Enter 1st string:")
str2 = input("Enter 2nd string:")
concat = "".join([str1,str2])
print("The concatenated string is")
print(concat)

Enter 1st string:str
Enter 2nd string:ing
The concatenated string is
string

12.Implement a code to find the second largest number in a given list of integers

In [31]:
#12.Implement a code to find the second largest number in a given list of integers

numbers = [10, 5, 20, 15, 25, 30]
largest = second_largest = float('-inf')

for num in numbers:
    if num > largest:
        second_largest = largest
        largest = num
    elif num > second_largest and num != largest:
        second_largest = num

print("The second largest number is:", second_largest)

The second largest number is: 25

13.create a code to count the occurrences of each element in a list and return a dictionary with elements as
keys and their counts as value

In [32]:
#13.create a code to count the occurrences of each element in a list and return a dictionary with elements as
#keys and their counts as value

elements = [1, 2, 3, 4, 2, 3, 4, 5, 2, 3, 2, 1, 2]
element_counts = {}

for element in elements:
    if element in element_counts:
        element_counts[element] += 1

    else:
        element_counts[element] = 1

print("Elements count:", element_counts)

Elements count: {1: 2, 2: 5, 3: 3, 4: 2, 5: 1}

14.Write a code to reverse a list in-place without using any built-in reverse functions.

In [39]:
#14.Write a code to reverse a list in-place without using any built-in reverse functions.


list = [1, 2, 3, 4, 5]

list_length = len(list)

for i in range(list_length//2):
    list[i], list[list_length - 1 - i] = list[list_length - 1 - i], list[i]


print("Reversed list:", list)

Reversed list: [5, 4, 3, 2, 1]

15.Implement a code to find and remove duplicates from a list while preserving the original order of
elements.

In [40]:
#15.Implement a code to find and remove duplicates from a list while preserving the original order of
#elements

my_list = [1, 2, 3, 2, 4, 5, 3, 6, 1]

unique_list = []

seen = set()

for element in my_list:

    if element not in seen:
        unique_list.append(element)
        seen.add(element)

print( unique_list)

[1, 2, 3, 4, 5, 6]

16.Create a code to check if a given list is sorted (either in ascending or descending order) or not.

In [41]:
#16.Create a code to check if a given list is sorted (either in ascending or descending order) or not.



my_list = [1, 2, 3, 4, 5]

ascending = descending = True

for i in range(len(my_list) - 1):
    if my_list[i] > my_list[i + 1]:
        ascending = False
        break

for i in range(len(my_list) - 1):
    if my_list[i] < my_list[i + 1]:
        descending = False
        break

if ascending:
    print("The list is sorted in ascending order.")
elif descending:
    print("The list is sorted in descending order.")
else:
    print("The list is not sorted.")

The list is sorted in ascending order.

17.Write a code to merge two sorted lists into a single sorted list.

In [45]:
#Write a code to merge two sorted lists into a single sorted list

my_list = [1, 2, 3, 4, 5]

list = [1, 2, 3, 2, 4, 5, 3, 6, 1]

merged = sorted(my_list)+sorted(list)
print(sorted(merged))

[1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 5, 5, 6]

18.implement a code to find the intersection of two given lists.

In [49]:
#implement a code to find the intersection of two given lists.
my_list = [1, 2, 3, 4, 5]

list1 = [1, 2, 3, 2, 4, 5, 3, 6, 1]

inter = []

for item in my_list:
    if item in list1 and item not in inter:
        inter.append(item)

print(inter)

[1, 2, 3, 4, 5]

19.create a code to find the union of two lists without duplicates.

In [58]:
#create a code to find the union of two lists without duplicates.

list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

union_set = set(list1).union(set(list2))


print(union_set)

{1, 2, 3, 4, 5, 6, 7}

21.rite a code that takes two tuples as input and returns a new tuple containing elements that are
common to both input tuples.

In [67]:
#21.write a code that takes two tuples as input and returns a new tuple containing elements that are
#common to both input tuples.

tup = tuple(input("ENTER 1ST TUP"))

tup1 = tuple(input("ENTER 2ND TUP"))

common_elements = [element for element in tup if element in tup1]

common_elements_tuple = tuple(common_elements)

print(common_elements_tuple)

ENTER 1ST TUP1 2 3 4 5
ENTER 2ND TUP4 5 6 7
(' ', ' ', ' ', '4', ' ', '5')

22.create a code that prompts the user to enter two sets of integers separated by commas. Then, print the
intersection of these two sets.

In [68]:
#22.create a code that prompts the user to enter two sets of integers separated by commas. Then, print the
#intersection of these two sets.



input_set1 = input("Enter the first set of integers separated by commas: ")

input_set2 = input("Enter the second set of integers separated by commas: ")

set1 = set(int(x) for x in input_set1.split(','))
set2 = set(int(x) for x in input_set2.split(','))

intersection = set1.intersection(set2)

print( intersection)

Enter the first set of integers separated by commas: 1 , 2,3,4,5
Enter the second set of integers separated by commas: 4,5,6,7
{4, 5}

In [70]:
#23.Write a code to concatenate two tuples. The function should take two tuples as input and return a new
#tuple containing elements from both input tuples.

tup = tuple(input("ENTER 1ST TUP"))

tup1 = tuple(input("ENTER 2ND TUP"))

common_elements = tup + tup1

common_elements_tuple = tuple(common_elements)

print(common_elements_tuple)

ENTER 1ST TUP1,2,3,4
ENTER 2ND TUP5,6,7
('1', ',', '2', ',', '3', ',', '4', '5', ',', '6', ',', '7')

In [72]:
#24. Develop a code that prompts the user to input two sets of strings. Then, print the elements that are
#present in the first set but not in the second set.

str1 = input("Enter 1st string:")
str2 = input("Enter 2nd string:")

set1 = set(str1.split(','))
set2 = set(str2.split(','))


difference = set1.difference(set2)

print(difference)

Enter 1st string:i am a doctor
Enter 2nd string:i am a teacher
{'i am a doctor'}

In [73]:
#26.Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets.

input_set1 = input("Enter the first set of characters: ")

input_set2 = input("Enter the second set of characters: ")

set1 = set(input_set1)
set2 = set(input_set2)

union_set = set1.union(set2)

print(union_set)

Enter the first set of characters: a,b,c,d
Enter the second set of characters: e,f
{'e', 'c', 'a', 'd', 'b', 'f', ','}

In [75]:
#28.create a code that defines two sets of integers. Then, print the union, intersection, and difference of these
#two sets

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

union_set = set1.union(set2)
print("Union:", union_set)

intersection_set = set1.intersection(set2)
print("Intersection:", intersection_set)

difference_set1_set2 = set1.difference(set2)
print("Difference:", difference_set1_set2)

difference_set2_set1 = set2.difference(set1)
print("Difference:", difference_set2_set1)

Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}
Difference: {1, 2, 3}
Difference: {8, 6, 7}

In [76]:
#30.Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of
#these two sets.

input_set1 = input("Enter the first set of strings separated by commas: ")

input_set2 = input("Enter the second set of strings separated by commas: ")

set1 = set(input_set1.split(','))
set2 = set(input_set2.split(','))

symmetric_difference = set1.symmetric_difference(set2)

print(symmetric_difference)

Enter the first set of strings separated by commas: hi,pip,pop,piotp
Enter the second set of strings separated by commas: hi,pip
{'pop', 'piotp'}